[Unit]
Description=Snapcast Volume WebApp
After=network.target

[Service]
EnvironmentFile=-/etc/default/snapcast-ui.conf
Type=simple
#User=nas
ExecStart=/home/sab/perl5/perlbrew/perls/perl-5.22.2/bin/plackup -E production -p 5005 /home/sab/snapcast-volume-ui/bin/app.psgi
#PIDFile=/var/run/snapcast-ui.pid

[Install]
WantedBy=multi-user.target
